.middlepanel {
    display: flex;
    flex-direction: column;
    flex: 0.6;
    padding: 50px 210px;
    border-right: 1px solid lightgrey;
   
}

.middlepanel__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middlepanel__page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey; 
}

.middlepanel__page__header__text__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 32px 0px 24px 0px;
}

.middlepanel__page__header__title {
    font-size: 1rem;
    font-weight: 400;
    margin-right: 24px;
    cursor: pointer;
}